.config/Code/*
.config/fish/fishd.*
.config/fish/fish_history
.config/fish/completions
.config/emacs/auto-save-list/
.config/emacs/%backup%~
.config/emacs/elpa
.config/emacs/eshell/history
.config/emacs/eshell/lastdir
.config/emacs/history
.config/emacs/image-dired
.config/emacs/network-security.data
.config/emacs/places
.config/emacs/quelpa
.config/emacs/session.*
.config/emacs/tramp
.config/emacs/url
