.config/fish/completions
.config/fish/fishd.*
.config/fish/fish_history
.config/macs/auto-save-list/
.config/macs/*~
.config/macs/elpa
.config/macs/eshell/history
.config/macs/eshell/lastdir
.config/macs/history
.config/macs/image-dired
.config/macs/network-security.data
.config/macs/places
.config/macs/quelpa
.config/macs/session.*
.config/macs/tramp
.config/macs/url
