[user]
	name = Jonathan Lestrelin
	email = jonathan.lestrelin@gmail.com

[core]
	whitespace = fix,trailing-space,tabwidth=4
	editor = vim

[merge]
	tool = vimdiff

[alias]
	cp = 'cherry-pick'
	st = 'status -sb'
	cl = 'clone'
	cm = 'commit'
	co = 'checkout'
	br = 'branch'
	dc = 'diff --cached'
	lg = "log --reverse --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %Cblue<%an>%Creset' --all"
	rlog = "log --reverse"
	last = 'git log -1 --stat'
	unstage = 'reset HEAD --'

[log]
	date = rfc2822

[color]
	diff = auto
	status = auto
	branch = auto
	interactive = auto
	ui = auto
	pager = true

[color "diff"]
	meta = cyan
	frag = yellow
	old = red
	new = green

[color "status"]
	added = cyan
	changed = green
	untracked = magenta

[push]
	default = simple

[gui]
	warndetachedcommit = true
	spellingdictionary = en
