[user]
	name = Jonathan Lestrelin
	email = jonathan.lestrelin@gmail.com

[core]
	whitespace = fix,trailing-space,tabwidth=4
	editor = flatpak run --file-forwarding re.sonny.Commit @@
	pager = cat

[merge]
	tool = vimdiff

[alias]
	cp = 'cherry-pick'
	st = 'status'
	cl = 'clone'
	cm = 'commit'
	co = 'checkout'
	br = 'branch'
	dc = 'diff --cached'
	lg = "log --reverse --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %Cblue<%an>%Creset' --all"
	lr = "log --reverse"
	sw = 'switch'
	sc = "switch --create"
	last = 'git log -1 --stat'
	unstage = 'reset HEAD --'
	sync = !legit sync
	publish = !legit publish
	unpublish = !legit unpublish
	undo = !legit undo
	branches = !legit branches

[log]
	date = rfc2822

[color]
	diff = auto
	status = auto
	branch = auto
	interactive = auto
	ui = auto
	pager = true

[color "diff"]
	meta = cyan
	frag = yellow
	old = red
	new = green

[color "status"]
	added = cyan
	changed = green
	untracked = magenta

[push]
	default = simple

[gui]
	warndetachedcommit = true
	spellingdictionary = en

[pull]
	rebase = false

[init]
	defaultBranch = main

[url "git@github.com:"]
	insteadOf = github:
	insteadOf = gh:

[url "git@gitlab.com:"]
	insteadOf = gitlab:
	insteadOf = gl:

[url "git@git.alterway.fr:"]
        insteadOf = aw:
[commit]
	template = /home/jlestrelin/.dotfiles/gitmessage
