.config/Code/*
.config/fish/fishd.jonathanpc
.config/fish/fish_history
.emacs.d/auto-save-list/
.emacs.d/%backup%~
.emacs.d/elpa
.emacs.d/eshell/history
.emacs.d/eshell/lastdir
.emacs.d/iquelpa
.emacs.d/network-security.data
.emacs.d/tramp
.emacs.d/url
.vim/plugged/*
*.swp
