set bell-style none
set blink-matching-paren on
set colored-completion-prefix on
set colored-stats on
set completion-ignore-case on
set completion-map-case on
set completion-query-items 128
set emacs-mode-string ""
set enable-bracketed-paste on
set expand-tilde on
set history-size 100000
set horizontal-scroll-mode on
set mark-modified-lines off
set page-completions off
set revert-all-at-newline on
set show-mode-in-prompt on
set skip-completed-text on
set visible-stats on
# history browsing with PgUp/PgDown
"\e[5~": history-search-backward
"\e[6~": history-search-forward
# mappings for Ctrl-left-arrow and Ctrl-right-arrow for word moving
"\e[1;5C": forward-word
"\e[1;5D": backward-word
"\e[5C": forward-word
"\e[5D": backward-word
"\e\e[C": forward-word
"\e\e[D": backward-word
