/* Koad Gnome style stylesheet */

@import "firefox-gnome-theme/userChrome.css";

/* Hide tab bar when showing Sidebery */

#main-window #TabsToolbar {
  overflow: hidden;
  transition: height .1s .1s !important;
}
#main-window[titlepreface*="[Sidebery]"] #TabsToolbar {
  height: 0 !important;
}
#main-window[titlepreface*="[Sidebery]"] #tabbrowser-tabs {
  z-index: 0 !important;
}

/* Hide tab bar whan showing single tab */

#tabbrowser-tabs,
.tabbrowser-arrowscrollbox {
  min-height: 0 !important;
}

.tabbrowser-tab {
  min-height: var(--tab-min-height);
}

.tabbrowser-tab[first-visible-tab="true"][last-visible-tab="true"] {
  visibility: collapse;
}
