"*":
  "exception-reporting":
    userId: "2b114c48-82c9-3d5a-1ca7-0aa32bec6a55"
  welcome:
    showOnStartup: false
  core:
    audioBeep: false
    disabledPackages: [
      "vim-mode"
      "markdown-toc"
    ]
    autoHideMenuBar: true
  editor:
    invisibles: {}
    backUpBeforeSaving: true
    showIndentGuide: true
    softWrapAtPreferredLineLength: true
    tabLength: 4
  minimap: {}
  "tree-view": {}
  "isotope-ui": {}
  "markdown-pdf": {}
  "one-light-ui": {}
