! Enable utf8
xterm*utf8: 1

! Use a nice truetype font and size by default... 
xterm*faceName: DejaVu Sans Mono Book
xterm*faceSize: 11

! Every shell is a login shell by default (for inclusion of all necessary environment variables)
xterm*loginshell: true

! Double-click to select whole URLs
xterm*charClass: 33:48,36-47:48,58-59:48,61:48,63-64:48,95:48,126:48

! Dight hand side scrollbar...
xterm*rightScrollBar: true
xterm*ScrollBar: true

! Toolbar
xterm*toolBar: true

! Stop output to terminal from jumping down to bottom of scroll again
xterm*scrollTtyOutput: false

! Scrollback
xterm*savelines: 100000

! Use locale
xterm*locale: true

! Color
xterm*reverseVideo: on
